<section class="wrapper">
  <h2>Итоговая таблица:</h2>
  <div class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="Stoim20201ToStoim20191">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20201ToStoim20191 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20202ToStoim20192">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20202ToStoim20192 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20203ToStoim20193">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20203ToStoim20193 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20204ToStoim20194">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20204ToStoim20194 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20205ToStoim20195">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20205ToStoim20195 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20206ToStoim20196">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20206ToStoim20196 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20207ToStoim20197">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20207ToStoim20197 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20208ToStoim20198">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20208ToStoim20198 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20209ToStoim20199">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20209ToStoim20199 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim202010ToStoim201910">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim202010ToStoim201910 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim202011ToStoim201911">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim202011ToStoim201911 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim202012ToStoim201912">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim202012ToStoim201912 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20211ToStoim20201">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20211ToStoim20201 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20212ToStoim20202">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20212ToStoim20202 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20213ToStoim20203">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20213ToStoim20203 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20214ToStoim20204">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20214ToStoim20204 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20215ToStoim20205">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20215ToStoim20205 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20216ToStoim20206">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20216ToStoim20206 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20217ToStoim20207">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20217ToStoim20207 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20218ToStoim20208">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20218ToStoim20208 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim20219ToStoim20209">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim20219ToStoim20209 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim202110ToStoim202010">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim202110ToStoim202010 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim202111ToStoim202011">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim202111ToStoim202011 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Stoim202112ToStoim202012">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Stoim202112ToStoim202012 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20201ToNetto20191">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20201ToNetto20191 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20202ToNetto20192">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20202ToNetto20192 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20203ToNetto20193">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20203ToNetto20193 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20204ToNetto20194">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20204ToNetto20194 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20205ToNetto20195">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20205ToNetto20195 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20206ToNetto20196">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20206ToNetto20196 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20207ToNetto20197">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20207ToNetto20197 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20208ToNetto20198">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20208ToNetto20198 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20209ToNetto20199">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20209ToNetto20199 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto202010ToNetto201910">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto202010ToNetto201910 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto202011ToNetto201911">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto202011ToNetto201911 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto202012ToNetto201912">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto202012ToNetto201912 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20211ToNetto20201">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20211ToNetto20201 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20212ToNetto20202">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20212ToNetto20202 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20213ToNetto20203">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20213ToNetto20203 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20214ToNetto20204">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20214ToNetto20204 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20215ToNetto20205">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20215ToNetto20205 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20216ToNetto20206">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20216ToNetto20206 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20217ToNetto20207">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20217ToNetto20207 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20218ToNetto20208">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20218ToNetto20208 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto20219ToNetto20209">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto20219ToNetto20209 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto202110ToNetto202010">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto202110ToNetto202010 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto202111ToNetto202011">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto202111ToNetto202011 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Netto202112ToNetto202012">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Netto202112ToNetto202012 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20201ToKol20191">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20201ToKol20191 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20202ToKol20192">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20202ToKol20192 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20203ToKol20193">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20203ToKol20193 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20204ToKol20194">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20204ToKol20194 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20205ToKol20195">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20205ToKol20195 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20206ToKol20196">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20206ToKol20196 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20207ToKol20197">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20207ToKol20197 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20208ToKol20198">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20208ToKol20198 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20209ToKol20199">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20209ToKol20199 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol202010ToKol201910">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol202010ToKol201910 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol202011ToKol201911">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol202011ToKol201911 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol202012ToKol201912">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol202012ToKol201912 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20211ToKol20201">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20211ToKol20201 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20212ToKol20202">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20212ToKol20202 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20213ToKol20203">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20213ToKol20203 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20214ToKol20204">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20214ToKol20204 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20215ToKol20205">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20215ToKol20205 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20216ToKol20206">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20216ToKol20206 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20217ToKol20207">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20217ToKol20207 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20218ToKol20208">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20218ToKol20208 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol20219ToKol20209">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol20219ToKol20209 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol202110ToKol202010">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol202110ToKol202010 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol202111ToKol202011">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol202111ToKol202011 }}
        </td>
      </ng-container>
      <ng-container matColumnDef="Kol202112ToKol202012">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.Kol202112ToKol202012 }}
        </td>
      </ng-container>

      <!-- Star Column -->
      <ng-container matColumnDef="star">
        <th mat-header-cell *matHeaderCellDef aria-label="row actions">
          &nbsp;
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>more_vert</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <button type="submit" class="btn" (click)="back()">Назад</button>
</section>
