<section>
  <div class="company">
    <div class="company-wrap">
      <div class="company-info">
        <h1>Импорт+</h1>
        <h2>Хороший слоган для хорошего продукта</h2>
        <h3>Преимущество продукта 1</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt,
          officia architecto natus in, quia expedita rem molestias ab velit,
          laudantium corporis adipisci alias necessitatibus delectus optio
          aliquam omnis quos cum.
        </p>
        <h3>Преимущество продукта 2</h3>
        <p class="plus">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt,
          officia architecto natus in, quia expedita rem molestias ab velit,
          laudantium corporis adipisci alias necessitatibus delectus optio
          aliquam omnis quos cum.
        </p>
      </div>
      <div class="rectangle-big"></div>
      <div class="rectangle"></div>
    </div>

    <div class="company-photo">
      <img src="assets/images/logo.svg" alt="logo" class="logo" />
      <div class="trapezoid">
        <h3>Какая-то общая инфа</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt,
          officia architecto natus in, quia expedita rem molestias ab velit,
          laudantium corporis adipisci alias necessitatibus delectus optio
          aliquam omnis quos cum.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="benefits">
  <h2>Вы получите вот эти преимущества</h2>
  <div class="cards">
    <div class="benefit-card">
      <img src="#" alt="photo" />
      <h4>Lorem, ipsum dolor.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
        et incidunt expedita aliquam excepturi nemo dolore facere architecto,
        eius doloribus quas ipsa eveniet voluptas obcaecati.
      </p>
      <a href="#">Узнать больше</a>
    </div>
    <div class="benefit-card">
      <img src="#" alt="photo" />
      <h4>Lorem, ipsum dolor.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
        et incidunt expedita aliquam excepturi nemo dolore facere architecto,
        eius doloribus quas ipsa eveniet voluptas obcaecati.
      </p>
      <a href="#">Узнать больше</a>
    </div>
    <div class="benefit-card">
      <img src="#" alt="photo" />
      <h4>Lorem, ipsum dolor.</h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis
        et incidunt expedita aliquam excepturi nemo dolore facere architecto,
        eius doloribus quas ipsa eveniet voluptas obcaecati.
      </p>
      <a href="#">Узнать больше</a>
    </div>
  </div>
</section>
<section class="use">
  <img src="#" alt="photo" />
  <div class="use-info">
    <h3>Как пользоваться</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus rerum
      natus itaque aliquid praesentium, corrupti sint consequuntur omnis
      deleniti ad. Sint quaerat eos corrupti porro eaque officia consequuntur
      maiores illum!
    </p>
    <ul>
      <li>Зарегаться</li>
      <li>Выбрать нужный пунктик</li>
      <li>Скачать</li>
    </ul>
  </div>
</section>
